{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="form-container row">
        <h2 class="form-heading col-12">Upload Your Pitch</h2>
        <form class="col-12 site-form" accept="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form|crispy}}
            
            
            <input style="border-radius: 10px;" type="submit" value="Submit" class=" form-sub-btn"><br><br>
            <p style="font-size: 20px;">**PMV - Post-Money Valuation</p>
        </form>
    </div>
{% endblock %}
