@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Lexend+Deca:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500&display=swap');

html {
    height: 100%;
    margin: 0;

}

body {
    background-size: cover;
    font-family: "Inter";
}

h1, h2,h3, h4, h5, h6 {
    font-weight: 500;
}


p {
    font-size: 1.5em;
    font-weight: 200;
    padding-top: 2.5%;
}

a {
    text-decoration: none;
    color: inherit;
    color: #d68234;
}
a:hover {
    color: inherit;
}

ul li {
    text-decoration: none;
}

.main-content-container {
    display: block;
    min-height: 100vh;
    margin-bottom: 10%;
    text-align: center;
}

.text-container {
    width: 60%;
    padding-top: 5%;
    margin: auto;
    text-align: left;
}

.page-heading {
    text-align: center;
    margin: 5%;
    font-size: 3rem;
}

.icons {
    font-size: 2.5em;
}

/* Navigation */
header.container-fluid {
    padding: 0;
    background-color: #f0f0f0;

}

#topnav {
    display: block;
    text-align: center;
}

.site-logo {
    display: flex;
    justify-content: center;
}

.site-logo img {
    max-width: 80%;
    size: 5rem;
    color: #4e5052;
    object-fit: fill;
}

.nav-item {
    margin: 2.5%;
    font-size: 1.2em;
    font-weight: 500;
    color: #4e5052;
    transition: .2s;
}

.nav-item:hover {
	transform: scale(1.1);
    transition: .2s;
    color: #4e5052;
}

.nav-link {
    color: #4e5052;
}

.nav-link:hover {
    color: #d68234;
}

#main-nav-container {
    background-color: green;
}

.navbar-collapse {
   margin: 0 auto;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

/* Forms */
.form-container {
    width: 50%;
    padding-bottom: 2.5%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}

.form-heading {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5%;
    height: 2.5em;
    background-color: #4e5052;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    display: inline-table !important;
    justify-content: center;
    align-items: center;
}

.form-sub-btn {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background-color: #4e5052;
    margin: auto;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.form-sub-btn:hover{
    color:#4e5052;
    background-color:#FFFFFF;
    border:0.1em solid #4e5052;
    text-decoration:none;
}

.copyright-container {
    width: 100%;
    height: 10%;
    background-color: #4e5052;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
}

.footer-text {
    font-size: 1em;
    color: #FFFFFF;
    padding-top: 0;
    margin: 0;
}

/* Site Buttons */

.site-btn {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #4e5052;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}


.site-btn:hover{
    color:#FFFFFF;
    background-color:#c69e70;
    border:0.1em solid #c69e70;
    text-decoration:none;
}

.desktop-contact-btn-gold {
    color: #FFFFFF;
    border:0.13em solid #c69e70;
    background-color: #c69e70;
    font-size: 1.2em;
    font-weight: 600;
}

.desktop-contact-btn-gold:hover{
    color: #4e5052 ;
    border:0.13em solid #4e5052;
    background-color: inherit;
}

.desktop-contact-btn {
    color: #4e5052 ;
    border:0.13em solid #4e5052;
    font-size: 1.2em;
    font-weight: 600;
}

.desktop-contact-btn:hover {
    border:0.13em solid #c69e70;
}

.desktop-contact-btn-container {
    text-align: center;
}

.mobile-contact-btn {
    color: #4e5052;
}

.add-item-icon {
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

.add-item-icon i{
    margin: auto;
}

/* Footer */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 5%;
    height: auto;
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-column {
    flex-basis: 33%;
}
  
.footer-left nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  .footer-left nav li {
    margin-bottom: 10px;
  }
  
  .footer-left nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-center .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

  }
  
  .footer-center .social-links li {
    margin-right: 20px;
  }

.social-header {
    text-align: center;
    margin-bottom: 5%;
}

.social-icon {
    size: 20px;
}

.footer-center .social-links li:last-child {
    margin-right: 0;
}
  
.footer-center .social-links li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
  
.footer-center .social-links li a:hover {
    transform: translateY(-3px);
}
  
.footer-right p {
    margin: 0;
    font-size: 16px;
    text-align: right;
}
/* ---------------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }

    .page-heading {
        text-align: center;
        margin: 5%;
    }

    .p {
        font-size: .5em;
    }
}

@media (max-width: 992px) {

    .page-heading {
        font-size: 2rem;
    }
}